.links-especialidades {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 20px 0;
}

.links-especialidades a {
    text-decoration: none;
    color: #0000008c;
    border-bottom: 2px solid #00cad1;
}

.links-especialidades a:hover {
    color:#0c6e71;
}

.especialidades-titulo {
    text-align: center;
}

.container-info {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.container-agenda {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.container-agenda img {
    max-width: 300px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead> tr, th {
    border: 1px solid #00cad1;
    border-collapse: collapse;
    color: white;
    text-align: left;
}

thead, th {
    background-color: #00cad1;
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: #f1f3f7;
}

tbody tr:nth-child(even) {
    background-color: #fff;
}